@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=League+Spartan:wght@100..900&family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(183, 190, 241);
}

/* nav */
nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

nav .brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

/* Container */
.container{
    height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 23px auto;
    width: 70%;
    border-radius: 14px;
    padding: 34px;
    background-image: url("/bg3.jpg");
}



/* Bottom */
.bottom{
    position: sticky;
    bottom: 0;
    height: 110px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 30px;
    display: flex;
    background-color: white;
    width: 95%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
}

.songItem img{
    width: 23px;
    margin: 0px 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round';
}

.songInfo img{
    opacity: 0;
    transition:  opacity 0.4s ease-in;
}